* {
  color: #fff;
  font-family: 'lato';
}

html {
  height: 100%;
}

body {
  background: #FDFBEF;
  height: 100%;
}

header {

  nav {
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 70px;
    text-align: right;
    background-color: rgba(83,104,57, 0.5);


    a {
      text-decoration: none;
      font-family: 'Alegreya';
      font-size: 1.5em;
      line-height: 70px;
      padding: 25px;
      font-weight: 200;
    }
  }
}

.header-img {
  background:  url(../img/header-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  text-align: center;

  .ck-opacity {
    background: #000;
    opacity: 0.1;
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: -1;
  }


  h1 {
    font-family: 'Alegreya';
    text-align: center;
    font-size: 4em;
    padding-top: 30%;
    opacity: 0.8;
  }

  h2 {
    text-align: center;
    font-size: 2.3em;
    margin: 0;
    padding: 0;
    opacity: 0.8;
  }

  .down-arrow {
    display: inline-block;
    margin-top: 15%;
    cursor: pointer;
  }

}

.coast-to-coast {
  color: #000;
  .sub-title {
    font-size: 1.2em;
  }
}

.description-section {
  background: #F5F5DC;
  color: #000;
  padding-bottom: 70px;

  .text-wrapper {
    margin-top: 50px;

    h1 {
      color: #000;
      margin: 20px 0 10px;
      font-size: 2em;
    }

    p {
      color: #000;
      margin: 10px 0;
      font-size: 1.5em;
    }

    span {
      color: red;
    }
  }

  .wrapper {
    text-align: center;
    padding-bottom: 20px;

    .tour-img {
      margin: 0 50px;
    }

    .distance {
      margin: 10px 0;
      text-align: center;

      .desk {
        color: #000;
        margin-bottom: 25px;
      }

      .sub-title {
        margin-bottom: 10px;
        font-size: 1.5em;
      }

      .dis-element {
        vertical-align: middle;
        display: inline-block;
        width: 350px;
        min-height: 440px;
        background: #B2BD64;
        margin: 5px;

        h1 {
          margin: 10px;
          font-size: 3em;
        }

        h3 {
          font-size: 2em;
        }

        p {
          text-align: left;
          margin: 10px;
          font-size: 1.5em;
          vertical-align: left;
          text-align: center;
        }
      }
    }
  }
}

.photos-section {
  color: #000;
  text-align: center;

  .title {
    font-size: 3em;
  }

  .sub-title {
    margin: 25px;
  }

  img {

  }
}


footer {
  height: 70px;
  background: rgb(83, 104, 57);

  div {
    padding: 25px 50px;

    img {
      position: absolute;
      margin-top: -10px;
    }
  }

  a {
    text-decoration: none;
    font-size: 1.15em;
    &:hover {
      font-weight: 600;

    }
  }
}

.title {
  color: rgb(83,104,57);
  text-align: center;
  font-size: 4em;
  font-family: 'Alegreya';
}

.sub-title {
  color: rgb(83,104,57);
  text-align: center;
  font-size: 2em;
}

.wrapper {
  padding: 80px 0;
  width: 70%;
  margin: 0 auto;
  text-align: center;

  .coast-img {
    margin: 25px;
    cursor: pointer;
  }
}

.black-text {
  color: #000;
  margin: 15px auto;
  // max-width: 500px;
  font-size: 1.3em;
}

.stages-img {
  display: block;
  margin: 50px auto;
  text-align: center;
}

table {
//  max-width: 960px;
  margin: 10px auto;
  font-size: 1.8em;
}

caption {
  font-size: 1.6em;
  font-weight: 400;
  padding: 10px 0;
}

thead th {
  font-weight: 400;
  background: #8a97a0;
  color: #FFF;
}

tr, td {
  background: #B2BD64;
  border: 1px solid #F5F5DC;
  margin-bottom: 5px;
}

tr:nth-child(even) {
  background: #B2BD64;
}

th, td {
  text-align: center;
  padding: 20px;
  font-weight: 300;
  color: #000;
  vertical-align: middle;
}

tfoot tr {
  background: none;
}

tfoot td {
  padding: 10px 2px;
  font-size: 0.8em;
  font-style: italic;
  color: #8a97a0;
}

.photos-optional {

  .title {
    margin-top: 70px;
    font-size: 3em;
  }

  .sub-title {
    margin-bottom: 25px;
  }
}

.billing-section {
  background: #F5F5DC;

  a {
    color: #536839;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  p {
    margin: 15px 0 0;
    text-align: left;
    color: #000;
    font-size: 1.2em;
  }

  .sub-title {
    margin: 50px 0 0;
    text-align: left;
  }

  .biling-element {
    width: 350px;
    min-height: 300px;
    vertical-align: top;
    background: rgb(178, 189, 100);
    padding: 10px;
    display: inline-block;
    margin: 40px 10px 0;

    .title {
      color: #F5F5DC;
      font-size: 3em;
    }


    p {
      margin: 5px;
      color: #fff;
    }

    .biling-p1 {
      font-size: 1.5em;
    }

    .biling-p2 {
      margin-top: 15px;
      font-size: 1.2em;
    }
  }

  .why {
    width: auto !important;
  }

}

.sale {
  margin: 25px 0;
  background: red;
  width: 200px;
  padding: 5px;
}

.gallery-section {
  .title {
    padding: 140px 0 0;
  }

  .sub-title {
    text-align: left;
    font-size: 1.5em;
  }

  img {
    margin: 10px;
  }
}

.home-btn {
  position: fixed;
  margin: 5px 0 0 50px;
  z-index: 100;
}

form {
  color: #000;
  text-align: left;

  .form-element {

  }

  label {
    color: #000;
    cursor: pointer;
    font-size: 1.5em;
  }

  input{
    color: #000;
    padding: 5px;
    width: 200px;
    font-size: 1em;
    margin: 25px;
  }

  input[type="email"] {
    width: 300px;
  }


  textarea {
    display: block;
    width: 80%;
    height: 200px;
    margin: 50px 0;
    color: #000;
    font-size: 1.1em;
    padding: 0;
  }
}
.menu {
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 100;
    top: -100vh;
    background: rgb(83, 104, 57);
    display: none;

    .menu-wrapper {
      width: 50%;
      margin: 5% auto;
      text-align: center;


      a {
        color: #fff;
        font: 400 2em "Alegreya";
        text-decoration: none;
        display: block;
        padding: 10px;
      }

      a:hover {
        font-weight: 800;
      }
    }
}

.menu-icon {
  background: url(../img/menu-lines.png);
  background-size: cover;
  height: 40px;
  width: 40px;
  position: fixed;
  z-index: 200;
  opacity: 0.8;
  top: 14px;
  left: 90%;
  cursor: pointer;
  display: none;
}

.menu-icon-close {
  background: url(../img/menu-x.png);
  background-size: cover;
  height: 40px;
  width: 40px;
  position: fixed;
  z-index: 200;
  opacity: 0.8;
  top: 14px;
  left: 90%;
  cursor: pointer;
}

#mailtext {
  display: none;
}


.mail-section {
  text-align: center;

  .title {
    padding-top: 20%;
  }

  a {
    text-decoration: none;
    color: red;
  }
}

#table-down {
  th, td {
    padding: 21px;
  }
}

#image-bug {
  height: 300px;
}

.warning {
  color: red;
  font-size: 1.2em;
  margin: 25px 0;
  text-align: center;
}

.map {
  padding: 20px;
  text-align: center;

  img {
    max-height: 100%;
  }

  .warning {
    padding: 5px;
  }

}

.howto-section {
  max-width: 80%;
  padding: 0 10%;
  p {
    margin: 15px 0 0;
    text-align: center;
    color: #000;
    font-size: 1.2em;
  }

  h1 {
    padding: 15px 0;
  }

  .sub-title {
    margin: 50px 0 0;
    text-align: center;
  }

  .element {
    width: 90%;
    min-height: 300px;
    vertical-align: top;
    background: rgb(178, 189, 100);
    padding: 10px;
    display: inline-block;
    margin: 40px 10px 0;

    .title {
      color: #F5F5DC;
      font-size: 3em;
    }


    p {
      margin: 5px;
      color: #fff;
    }
  }
}

.map {
  margin: 25px;
}
